body.blog{
  main#primary{
    article{
      margin: 60px 30px 120px 30px;

      img.wp-post-image {
        width: 100%;
        max-height: 500px;
      }

      header.entry-header {
        text-align: center;
      }
      .entry-content{
        a.more-link {
          float: right;
          background-color: #072237;
          padding: 20px 50px;
          color: #ffffff;
          font-weight: bold;
          border-radius: 5%;
        }
      }
    }
  }
}


//**********Desktop Style**********
@media screen and (min-width: 997px) {
  body.blog {
    main#primary {
      article {
        margin: 60px 10% 150px 10%;
      }
    }
  }
}