.comment-content a {
	word-wrap: break-word;
}

#comments{
	ol{
		list-style-type: none;
	}
	.comment-body{
		margin-bottom: 50px;
		footer.comment-meta{
			position: relative;
			.comment-author.vcard{
				margin-left: 110px;
			}
			.comment-metadata{
				margin-left: 110px;
			}
			span.edit-link::before{
				content: '| ';
			}
			img.avatar {
				position: absolute;
				left: 0;
				top: -25px;
				border-radius: 100%;
			}
		}
		.comment-content{
			margin-top: 40px;
		}
		.reply{
			text-align: right;
			a.comment-reply-link {
				padding: 10px 30px;
				background-color: #072237;
				border-radius: 5%;
				color: #ffffff;
				text-decoration: none;
				&:hover, &:visited, &:focus, &:active{
					color: #ffffff;
					text-decoration: none;
				}
			}
		}
	}
	#respond{
		#reply-title{
			small::before{
				content: ' | ';
			}
			a#cancel-comment-reply-link{
				font-size: 18px;
			}
		}

	}
	.bypostauthor img {
		border: 5px solid #072237;
	}
}
