#footer {
  background-color: #072237;
  color: #ffffff;
  padding: 30px 50px;
  text-align: left;
  #social-menu{
    display: block;
    column-count: 2;
    text-align: center;
    li{
      list-style-type: none;
      padding-bottom: 10px;
      a{
        color: #ffffff;
        text-decoration: none;
        &:hover, &:active, &:visited{
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
}

@media screen and (min-width: 997px) {
  #footer{
    #social-menu{
      display: flex;
      justify-content: space-evenly;
      margin: 10px 30px 30px 30px;
      }
    }
}