@font-face {
	font-family: IRANSansWeb;
	src: url(fonts/IRANSansWeb.eot), /* IE9 Compat Modes */
	url(fonts/IRANSansWeb.woff2) format("woff2"),  /* FF39+,Chrome36+, Opera24+*/
	url(fonts/IRANSansWeb.woff) format("woff"), /* Pretty Modern Browsers */
	url(fonts/IRANSansWeb.ttf) format("ttf"); /* Safari, Android, iOS */
}

body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-size: 1rem;
	line-height: $font__line-height-body;
}

@import "headings";
@import "copy";
