@font-face {
	font-family: IRANSansWeb;
	src: url('fonts/IRANSansWeb.eot'); /* IE9 Compat Modes */
	src: url('fonts/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/IRANSansWeb.woff') format('woff'), /* Modern Browsers */
	url('fonts/IRANSansWeb.woff2') format('woff2'), /* Modern Browsers */
	url('fonts/IRANSansWeb.ttf') format('truetype'); /* Safari, Android, iOS */
}

body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-size: 1rem;
	line-height: $font__line-height-body;
}

@import "headings";
@import "copy";
