.site-branding {
  background-color: #072237;
  color: white;
  padding: 30px 30px;
  text-align: left;
}
.site-title a{
  color: white;
  text-decoration: none;
}
.site-title a:hover{
  color: white;
}
