.site-branding {
  background-color: #072237;
  color: white;
  padding: 30px 50px;
  text-align: left;
}
.site-title a{
  color: white;
  text-decoration: none;
}
.site-title a:hover{
  color: white;
}
a.custom-logo-link {
  width: 90px;
  height: 90px;
  margin: auto 20px auto 0;
}
.site-branding {
  display: flex;
}