//**********Mobile Style**********
#site-navigation{
	display: inline;
	#primary-menu {
		display: none;
	}
	.burger-menu-container{
		background-color: gray;
		.burger-menu-button {
			display: block;
			cursor: pointer;
			padding: 5px;
			border-radius: 3%;
			.burger-bar1, .burger-bar2, .burger-bar3 {
				width: 35px;
				height: 5px;
				background-color: white;
				margin: 6px 0;
				transition: 0.4s;
			}
		}
		.change {
			.burger-bar1{
				-webkit-transform: rotate(-45deg) translate(-9px, 6px);
				transform: rotate(-45deg) translate(-9px, 6px);
			}
			.burger-bar2{
				opacity: 0;
			}
			.burger-bar3{
				-webkit-transform: rotate(45deg) translate(-8px, -8px);
				transform: rotate(45deg) translate(-8px, -8px);
			}
		}
		.menu-header-container{
			#primary-burger-menu{
				display: none;
				padding: 0;
				li{
					list-style-type: none;
					background-color: white;
					opacity: 80%;
					text-align: left;
				}
				a{
					color: black;
					&:hover,&:active{
						color: black;
					}
				}
				.menu-item-has-children{
					ul.sub-menu {
						display: none;
					}
					&:hover{
						ul.sub-menu {
							display: block;
						}
					}
				}
			}
		}
	}
}

//**********Desktop Style**********
@media screen and (min-width: 997px) {
	#site-navigation {
		#primary-menu{
			display: block;
			text-align: left;
			list-style-type: none;
			background-color: gray;
			padding: 11px 30px 11px 30px;
			li {
				display: inline;
				a {
					color: white;
					text-decoration: none;
					padding: 10px 30px;
					background-color: gray;
					&:hover, &:active {
						color: white;
						background-color: #072237;
					}
				}
			}
		}
	}
	.burger-menu-container {
		display: none;
	}
}


