body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
	text-align: unset;
}


@media screen and (min-width: 997px) {
	.main-has-sidebar {
		main#primary {
			display: flex;
			place-content: space-between;

			section.post-articles {
				width: 70%;
			}

			aside#front-page-sidebar, #no-content-widget {
				width: 25%;
			}
		}
	}
}

